/* Reset de base & style généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --gray-12: #d5cccc;
    --font-geist-sans-url: url('https://fonts.googleapis.com/css2?family=Geist+Sans:wght@400;700&display=swap');
}

[data-theme="dark"] {
    --background-color: black;
    --text-color:var(--gray-12);
}

[data-theme="light"] {
    --background-color: white;
    --text-color: black;
}

[data-theme="auto"] {
    --background-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root[data-theme="auto"] {
        --background-color: black;
        --text-color: var(--gray-12);
    }
}

@media (prefers-color-scheme: light) {
    :root[data-theme="auto"] {
        --background-color: white;
        --text-color: black;
    }
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--gray-12);
}

a {
    text-decoration: none;
    color: var(--gray-12);
}


/****************************************Styles pour la navigation ******************************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin-top : 1.5 rem;
    margin : 0 auto;
    padding: 40px 20px 20px 20px;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--gray-12);
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

/****************************************Styles pour la section hero ******************************************/


main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1.5em 15em;
}

@media (min-width: 768px) {
    main {
        padding: 20px 24px 176px;
    }
}

.hero {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--gray-12);
    padding: 0 20px;
}

.hero div {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 ;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--font-geist-sans-url);
    color: var(--text-color);
}

h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--font-geist-sans-url);
    color: var(--text-color);
}

p {
    font-size: 1em;
    color: var(--text-color);
    font-family: var(--font-geist-sans-url);
    /* line-height: 1.5; */
    font-weight: normal;
}

/* Animation styles */
.animate-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.text-secondary {
    gap: 16px;
    gap: 24px;
    gap: 9px;
    width: 8rem;
}
.flex-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    width: 100%; 
}

.flex-info p {
    width: 100%; 
}

/****************************************Styles pour la section Éxpérience ******************************************/

.experience {
    margin-top: 40px;

}
.studies-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.studies-list li {
    margin-bottom: 20px;
}

.study-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.study-item:hover {
    background-color: var(--hover-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.study-logo {
    width: 60px;
    height: 50px;
    border-radius: 4px;
}

.info_suplémentaire {
    font-size: 15px; 
    color: gray;
    margin-top: 4px; 
    margin-left: 5px;

}




/****************************************Styles pour la section competence ******************************************/
.flex-info ul {
    list-style-type: none;
    padding: 20px;
}
.align {
    list-style-type: none;
    padding: 20px;
}
.align li {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    align-items: center;
}

.two-columns {
    column-count: 2;
    column-gap: 20px;
}

.two-columns li {
    break-inside: avoid;
}






/****************************************Styles pour la section contact ******************************************/










